#header-background{
	width:100%;
	height:auto;
	background:url("images/journey2.jpg");
}
h2{
	background-color:coral;
	text-shadow:1px 1px;
	letter-spacing:5px;
}
#purse{
	float:right;
}
.flex-container {
  display: flex;
  margin: 25px;
}
.width95{
	width:95%;
}